# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.vs/
.idea/

# Node
node_modules/
dist/
build/
coverage/

# .NET
bin/
obj/

# Env files
.env
.env.*

# Logs
*.log

# User-specific
*.user
*.suo

# Database / local artifacts
*.mdf
*.ldf

# Terraform
.terraform/
*.tfstate
*.tfstate.*